# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]
# For allowing CSV import
local-infile    =1
#loose-local-infile=1
